.skills-header{
  text-align: center;
}
.skills-section {
  padding: 20px;
  background-color: white; /* Dark background to match your design */
  border-radius: 60px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(215, 212, 212, 0.594);
  max-width: 1200px;
  transition: transform 0.2s ease;
}
[data-theme='dark'] .skills-section {
  padding: 20px;
  background-color: #222; /* Dark background to match your design */
  border-radius: 60px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(160, 4, 4, 0.539);
  transition: transform 0.2s ease;
}
.skills-section:hover {
  transform: scale(1.02); /* Slightly enlarges the card on hover */
}
.skills-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill-category {
  display: flex;
  justify-content: space-between; /* Space between text and icons */
  align-items: left; /* Center vertically */
  padding: 10px 0;
}

.skill-category  {
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  text-align: left; /* Align text to the left */
  flex: 1; /* Allow text to take available space */
  width: 62%;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Keep icons aligned at the start */
  gap: 20px;
  width: 38%;
}

.skill-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5)); /* Optional: adds a slight shadow effect */
}

@media (max-width: 480px) {
  .skills-section {
    padding: 10px; /* Reduce padding for very small screens */
    max-width: 600px;
  
  }

  .skill-category h3 {
    font-size: 10px; /* Reduce font size */
    display: inline-block;
    display: flex;
    flex-direction: column;
  }

  .skill-icon {
    width: 20px; /* Further reduce icon size */
    height: 20px;
  }
  .icons-container {
    gap: 10px;
    
  }
}